<header>
	<h2><a href="{% url 'home' %}">Project Management</a></h2>
	<nav>
		<ul class="nav-links">
			<li><a href="{% url 'todo' %}">Todo App</a></li>
			<li><a href="{% url 'calendar' %}">Calendar App</a></li>
			<li><a href="{% url 'expense_tracker' %}">Expense Tracker App</a></li>
		</ul>
	</nav>


	<div>
		{% if request.user.is_authenticated %}
			<h3>Hello {{ request.user | capfirst }}</h3>
			<a href="{% url 'logout_user' %}">Logout</a>
		{% else %}
			<a href="{% url 'login_page' %}">Login</a>
		{% endif %}
	</div>
</header>