{% extends 'main.html' %}

{% block content %}
<h1>Calendar</h1>
{% if request.user.is_authenticated %}
	<form action="" method="post">
		{% csrf_token %}
			{{ forms.as_p }}
		<input type="submit" value="Submit">
	</form>
{% endif %}
<hr>
{% for day in calendar %}
	<div class="calendar">
		<div class="data">
			{{ day.date_added}}
			{{ day.author }} > 
			{% if day.done == True %}
				<strike>{{ day.task }}</strike>
			{% else %}
				{{ day.task }}
			{% endif %}
			@{{ day.for_who}}
			{{ day.time_start|date:"G:i" }} -
			{{ day.time_finish|date:"G:i" }}
		</div>
		<div class="actions">
			<h3><a href="{% url 'done_calendar' day.id %}"><i class="fa-solid fa-check"></i></h3>
			<h3><a href="{% url 'update_calendar' day.id %}"><i class="fa-solid fa-pen-to-square"></i></a></h3>
			<h3><a href="{% url 'delete_calendar' day.id %}"><i class="fa-solid fa-trash-can"></i></a></h3>
		</div>
	</div>
	<hr>
{% endfor %}
{% endblock %}