body {
	background-color: #a7c6ff;
}

a {
	text-decoration: none;
}

/* ul {
	padding: 0;
} */

li {
	list-style: none;
}

ul {
	padding: 0;
}

header {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	display: flex;
}

.nav-links li{
	margin: 0 1rem;
}